<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 访问评论中的图片时，豆瓣会校验 referrer 禁止本地站点访问，所以配置为不发送 -->
    <meta name="referrer" content="no-referrer">
    <title>💢豆瓣</title>
    <link
        rel="shortcut icon"
        href="https://img1.doubanio.com/favicon.ico"
        type="image/x-icon"
    />
    <link rel="stylesheet" href="/lulu.ui.css" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/tailwindcss/2.2.9/tailwind.min.css" />
    <style>
        .fade-down-enter-active,
        .fade-down-leave-active {
            transition: all 0.3s ease-out;
        }
        .fade-down-enter-from,
        .fade-down-leave-to {
            transform: translateY(-20px);
            opacity: 0;
        }
    </style>
</head>
<body>
    <div id="app" class="h-screen p-5 pb-0 bg-gray-50 overflow-hidden flex flex-col items-center"></div>

    <template id="tpl">
        <div class="mb-5 flex w-1/2">
            <input
                v-model="url"
                class="ui-input flex-1 focus:border-green-500"
                type="text"
                placeholder="请输入帖子地址"
            />
            <button
                class="ui-button ml-2"
                :class="{ loading: initBtnLoading }"
                :disabled="initBtnLoading"
                data-type="success"
                @click="init"
            >
                解析
            </button>
        </div>
        <Transition name="fade-down">
            <div 
                v-if="totalPage"
                class="mb-5 flex w-1/2" 
            >
                <input
                    class="ui-input flex-1 focus:border-green-600 transition-all duration-500"
                    type="search"
                    placeholder="搜索用户和评论，多个关键字空格隔开"
                    v-model="keyword"
                />
                <select v-model="myReasonId" class="w-1/3 ml-2 opacity-100 rounded-md border-0 p-2 text-gray-600 outline-none ring-1 ring-inset ring-gray-300 focus:ring-green-600">
                    <option class="text-gray-400" value="">请选择举报原因</option>
                    <template v-for="reason in reasons">
                        <optgroup v-if="reason.subs" :label="reason.name" :key="reason.name">
                            <option 
                                v-for="item in reason.subs"
                                :key="item.id"
                                :value="item.id"
                                @click="selectReason(item)"
                            >{{ item.name }}</option>
                        </optgroup>
                        <option 
                            v-else
                            :key="reason.id"
                            :value="reason.id"
                            @click="selectReason(reason)"
                        >{{ reason.name }}</option>
                    </template>
                </select>
                <button 
                    class="ui-button w-1/5 ml-2 transition-all duration-500 report-button"
                    data-type="success"
                    :style="{ width: progress.width + '%' }"
                    @click="submit"
                >
                    {{ reportButtonText }}
                </button>
            </div>
        </Transition>
        <Transition>
            <div 
                v-if="totalPage"
                class="w-1/2 flex border-b border-black font-black pb-1"
            >
                <span class="w-1/4">用户名</span>
                <span class="flex-1">评论内容</span>
            </div>
        </Transition>
        <div class="w-1/2 pt-2 pb-5 flex-1 overflow-y-auto">
            <div 
                v-for="cmt in list" 
                :key="cmt.id"
                class="mb-1 flex"
            >
                <a 
                    class="text-green-600 hover:underline w-1/4"
                    :href="cmt.profile" 
                    target="_blank"
                >
                    {{ cmt.username }}
                </a>
                <span class="flex-1 text-gray-700">
                    <a 
                        v-if="cmt.img" 
                        :href="cmt.img" 
                        target="_blank"
                        class="text-blue-500 hover:underline mr-1"
                    >
                        [ 点击查看评论图片 ]
                    </a>
                    <span>{{ cmt.content }}</span>
                </span>
            </div>
        </div>
    </template>

    <script type="importmap">
        {
            "imports": {
                "vue": "https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.esm-browser.prod.min.js"
            }
        }
    </script>
    <script type="module">
        import { createApp, ref, watch, reactive, computed } from 'vue'

        createApp({
            setup() {
                let comments = []
                let reasonMap = {}
                const url = ref('')
                const initBtnLoading = ref(false)
                const list = ref([])
                const reasons = ref([])
                const myReasonId = ref('')
                const totalPage = ref(0)
                const keyword = ref('')

                async function init() {
                    if (!url.value) return alert('请输入帖子地址')

                    // reset
                    comments = []
                    list.value = []
                    totalPage.value = 0
                    reasons.value = []
                    reasonMap = {}
                    myReasonId.value = ''
                    keyword.value = ''

                    initBtnLoading.value = true
                    const res = await fetch('/init', {
                        method: 'post',
                        body: url.value
                    })
                    initBtnLoading.value = false

                    const data = await res.json()
                    comments = data.comments
                    list.value = data.comments
                    totalPage.value = data.totalPage
                    reasons.value = data.reasons
                    data.reasons.forEach(x => {
                        if (!x.subs) reasonMap[x.id] = {...x}
                        else x.subs.forEach(s => reasonMap[s.id] = {...s})
                    })
                }

                watch(keyword, (val) => {
                    let keys = val.trim().split(/\s+/)
                    list.value = []
                    list.value = keys.length
                        ? comments.filter(({ username, content }) => {
                            return keys.some(k => username.includes(k)) ||
                               keys.some(k => content.includes(k))
                        })
                        : comments
                })

                function selectReason(item) {
                    myReason = { 
                        ...item,
                        id: Number(item.id),
                        type: Number(item.type)
                    }
                }

                const progress = reactive({
                    total: 0,
                    done: 0,
                    width: '' // 原按钮长度 20%，即最小值为 20。最大值设为 120
                })
                const reportButtonText = computed(() => {
                    if (progress.total > 0) {
                        return `正在举报：${progress.done} / ${progress.total}`
                    }
                    return keyword.value ? '举报搜索到的评论' : '举报全部评论'
                })
                async function submit() {
                    if (!myReasonId.value) return alert('请选择举报原因')

                    progress.width = 120
                    progress.total = list.value.length
                    const reason = reasonMap[myReasonId.value]
                    for (const cmt of list.value) {
                        await fetch('/report', {
                            method: 'post',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                reason,
                                commentId: cmt.id
                            })
                        })
                        progress.done++
                        progress.width = 120 - (progress.done / progress.total * 100)
                        console.log(`[已举报] [${reason.name}]`, cmt.username, cmt.profile, cmt.content)
                        await new Promise((r) => setTimeout(r, 800))
                    }

                    progress.total = 0
                    progress.done = 0
                    progress.width = ''
                    alert('举报完毕')
                }

                return {
                    url,
                    initBtnLoading,
                    list,
                    totalPage,
                    reasons,
                    keyword,
                    myReasonId,
                    progress,
                    reportButtonText,
                    init,
                    submit,
                    selectReason
                }
            },
            template: '#tpl'
        }).mount('#app')
    </script>
</body>
</html>
